body {
    background-color: rgb(17 125 18);
    font-family: "Open Sans", sans-serif;
}

div {
    padding: 15px;
    border: 1px solid black;
    background-color: #fff8bd;
    border-radius: 5px;
}

section {
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    margin-top: 100px;
    background-color: white;
    padding: 15px;
    border: 1px solid black;
    -webkit-box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.8);
    box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.8);
}

section h1 {
    font-size: 20px;
    border-radius: 5px;
}

header {
    background-image: url("https://s30776.pcdn.co/wp-content/uploads/2020/04/AdobeStock_305233591.jpeg");
    background-size: cover;
    height: 80px;
    border-radius: 5px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    transform: translateY(-50%);
    border: 8px solid #00ff26;
}

a:link {
    text-decoration: none;
}